footer{
    color: aqua;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: black;
    border:solid blue ;
    border-radius: 25px;
}

.footer-regis{
    margin-top: 250px;
}

.footer-cont{
    margin-top: 270px;
}

.footer-foro{
    margin-top: 210px;
}

.contact{
    text-align: right;
    font-size: 22px;
    margin-right: 20px;
    margin-top: -30px;
}

.redes{
    width: 60px;
    height: 60px;
    margin-left: 50px;
    padding: 10px;
}