th{
    color: aqua;
    font-size: 22px;
}

td{
    color: aqua;
}

table{
    border: solid blue;
}

.tabla-noticias{
    width: 1700px;
    height: 600px;
}

.imagen-noticia{
    width: 275px; height: 200px;
    margin-top: 20px;
}

.fecha-noticias {
    font-weight: bold;
    text-decoration: underline;
}

.tabla-foro{
    width: 800px;
    height: 300px;
}

